/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1400px) {
  .container {
    width: 1200px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 992px;
  }

  section#navbar-header .col-25 {
    width: 35%;
  }

  section#navbar-header .col-75 {
    width: 65%;
  }

  .figure .image img {
    width: 450px;
  }

  .figcaption {
    width: 450px;
  }

  .item-img img {
    width: 225px;
  }

  .item-06-img img {
    width: 100px;
  }

  form input {
    padding: 10px 30px 10px 10px;
  }

  .subscribe a {
    margin-left: 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 768px;
  }

  section#navbar-header .col-25 {
    width: 40%;
  }

  section#navbar-header .col-75 {
    width: 60%;
  }

  .nav ul li {
    padding-right: 2px;
  }

  .hero .item h1 {
    font-size: 38px;
  }

  .item-01 h1 {
    font-size: 38px;
  }

  .figure .image img {
    width: 350px;
  }

  .figcaption {
    width: 350px;
  }

  .item-img img {
    width: 165px;
  }

  .item-06-img img {
    width: 100px;
  }

  form input {
    padding: 10px 25px 10px 10px;
  }

  .subscribe a {
    margin-left: 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 576px;
  }

  section#navbar-header .col-25 {
    width: 55%;
  }

  section#navbar-header .col-75 {
    width: 45%;
  }

  .nav ul li {
    padding-right: 2px;
  }

  .nav ul li a {
    font-size: 10px;
  }

  .nav ul li:last-child {
    padding-left: 15px;
  }

  .hero .item h1 {
    font-size: 28px;
  }

  .item-01 h1 {
    font-size: 28px;
  }

  .figure .image img {
    width: 250px;
  }

  .figcaption {
    width: 250px;
  }

  .item-img img {
    width: 65px;
  }

  .item-06-img img {
    width: 100px;
  }

  form input {
    width: 110px;
    padding: 10px 0px 10px 10px;
    font-size: 8px;
  }

  .subscribe a {
    margin-left: 0;
  }

  ul.footer-ending-nav li {
    padding-right: 18px;
  }

  ul.footer-ending-nav li a {
    font-size: 12px;
  }

  section#footer-ending .col-25 {
    width: 35%;
  }

  section#footer-ending .col-25 p {
    font-size: 11px;
    padding-top: 5px;
  }

  section#footer-ending .col-75 {
    width: 65%;
  }

  .item-04 p {
    font-size: 11px;
  }

  .item-01 p {
    color: #7C8EA2;
    font-size: 15px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .container {
    width: 576px;
  }

  section#navbar-header .col-25 {
    width: 55%;
  }

  section#navbar-header .col-75 {
    width: 45%;
  }

  .nav ul li {
    padding-right: 2px;
  }

  .nav ul li a {
    font-size: 10px;
  }

  .nav ul li:last-child {
    padding-left: 15px;
  }

  .hero .item h1 {
    font-size: 28px;
  }

  .item-01 h1 {
    font-size: 28px;
  }

  .figure .image img {
    width: 250px;
  }

  .figcaption {
    width: 250px;
  }

  .item-img img {
    width: 110px;
  }

  .item-06-img img {
    width: 100px;
  }

  form input {
    width: 110px;
    padding: 10px 0px 10px 10px;
    font-size: 8px;
  }

  .subscribe a {
    margin-left: 0;
  }

  ul.footer-ending-nav li {
    padding-right: 18px;
  }

  ul.footer-ending-nav li a {
    font-size: 12px;
  }

  section#footer-ending .col-25 {
    width: 35%;
  }

  section#footer-ending .col-25 p {
    font-size: 11px;
    padding-top: 5px;
  }

  section#footer-ending .col-75 {
    width: 65%;
  }

  .item-04 p {
    font-size: 11px;
  }

  .item-01 p {
    color: #7C8EA2;
    font-size: 15px;
  }
}